* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lucida Console;
	
}

div
{
	text-align: center;
	background-color: lightblue;
	padding: 20px;
	margin: 20px;
	border-radius: 25px;
	
	
}

.footerdiv
{
	font-size: 50px;
	background-color: lightblue;
	color: black;
	margin: 5rem;
	border-width: 3rem;
	border: double;
	border-radius: 25px;
}

.projectText
{
	margin-bottom: 50px;
}

.wip
{
	color: black;
	border: groove;
}

h1{text-align: center; color: white;}
h2{text-align: center;}
h3{text-align: center;}
	p{text-align: center; color: white;}

head
{
	background-color: blue;
}

footer
{
	margin: 5rem;
	border-width: 3rem;
	border: double;
	background-color: lightblue;
}

body 
{
	background-color: blue;
	background-repeat: no-repeat;
}

img
{
	border-style: groove;
	border-radius: 50px;
}